
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chocolate House</title>
</head>
<h1>Customer Suggestions</h1>
    <table>
        <tr>
            <th>Flavor</th>
            <th>Suggestion</th>
        </tr>
        {% for suggestion in suggestions %}
        <tr>
            <td>{{ suggestion.flavor.name if suggestion.flavor else 'N/A' }}</td>
            <td>{{ suggestion.suggestion }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('add_flavor') }}">Add Flavor</a> | 
    <a href="{{ url_for('add_ingredient') }}">Add Ingredient</a> | 
    <a href="{{ url_for('suggestion') }}">Suggestions for the Flavors</a>
</body>
</html>
